<!DOCTYPE html>
<html ng-app="portafolioApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Portafolio-Ronny</title>
	<link rel="stylesheet" href="estilos/estilos.css">
	<link href="https://fonts.googleapis.com/css?family=Delius" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Baloo+Tammudu|Bree+Serif|Cardo|Chewy|Courgette|Encode+Sans+Condensed|Exo|Gloria+Hallelujah|Indie+Flower|Quattrocento+Sans|Righteous|Sedgwick+Ave|Sedgwick+Ave+Display|Shrikhand" rel="stylesheet">
	
</head>
<body ng-controller="controladorGeneral">
	<header class="menuprincipal" id="contenido0">
		<nav>
			<ul class="listamenu">
				<li ng-repeat="item in menu"><a ng-click="srA($index)">{{item}}</a></li>
			</ul>
		</nav>
	</header>
	<div class="general">
		<section>
			<article class="sobremi" >
				<p>Hola soy Ronny, soy estudiante de ingeniería en telecomunicaciones y un desarrollador web junior.</p>
				<a href="#" class="botonnegro"> Contactame</a>
			</article>		

		</section>
		<section class="imagen">
			<img src="imagenes/caricatura.jpg">
		</section>
	</div>
	<div class="informacion" id="contenido1">
		<h2 id="Acerca"> Acerca de mi </h2>
		<div class="nombre"> 
			<div class="descrip">
				<h3>
					RONNY OJEDA 
				</h3>
				<h4>
					Desarrollador web. 
				</h4>
			</div>
			
			<!--<a href="#" ng-hide="esconderboton">Mas informacion</a>-->
			<div class="todo">
				<div><span class="negrita">Nombre completo: </span> <span> Ronny Rafael Ojeda Aparicio </span> </div>
				<div><span class="negrita">Edad: </span> <span>21 años </span></div>
				<div><span class="negrita">Estudios: </span> <span>Actualmente estudiante del septimo semestre de ingeniería en telecomunicaciones en la Universidad de Carabobo </span> </div>
				<div><span class="negrita">Correo eléctronico: </span><span> ronnyojeda1996@gmail.com </span> </div>
				<div><span class="negrita">Número de telefono: </span> <span>0416-737-1245  </span></div>
			</div> 
		</div>
	</div>
	<section class="proyectos" id="contenido2">
		<h2>Proyectos</h2>
		
			<div class="contenedor" ng-repeat="proyecto in proyectos" >
				<a ng-href="{{proyecto.urls}}" target="_blank">
					<div class="div-img">
						<img class="img" ng-src="img/{{proyecto.imagen}}" alt="ver">
						<article class="texto">{{proyecto.descripcion}} </article>
					</div>
				</a>
			</div>
		
	</section>
		<section class="habilidad">
			<h2>Habilidades </h2>
			<ul class="habilidades">
				<li ng-repeat="habilidad in habilidades">
					<img ng-src="img/{{habilidad}}">
				</li>

			</ul>
			
		</section>
		<h2 id="contenido3">Contactame</h2>
	<section class="form">
  		
  		<form action="php/asunto.php" method="post">
  		<fieldset>
            <input type="text" class="form-control" id="inputNombre" name="nombre" required placeholder= "Nombre" required>
        </fieldset>
  		<fieldset>
            <input type="email" class="form-control" id="inputEmail" name="email" required placeholder="Email"> 
          </fieldset>
          <fieldset>
            <input type="text" class="form-control" id="inputAsunto" name="asunto" required placeholder="Asunto"> 
          </fieldset>
          
         <textarea name="mensaje" id="mensaje" placeholder="Escriba su mensaje" required></textarea>
          <div class="form-enviar">
            <input type="submit" class="btn-default" value="Enviar"  id="enviar"></input>
          </div>
         </form>
      </section>
      <footer class="footer">
      	<div class="copyright">
      		Copyright &#169; 2018 Ronny Ojeda.
      	 </div>

      	<div class="redes">
			 <a href="#" target='_blank'>
			 	<span class="icon-facebook-rect"></span>
			 </a> 
			   <a href="#" target='_blank'>
			   	<span class="icon-twitter-circled"></span>
			   </a>
			   <a href="#" target='_blank'>
			   	<span class="icon-instagram"></span>
			   </a> 
		</div>


      </footer>
	
	<!-- Angular-->
	<script  src="angular.min.js"></script>
	<!-- Modulo -->
	<script src="js/portafolioApp.js"></script>
	<!-- Controladores -->
	<script src="js/controladores/controller.js"></script>
	
</body>
</html>