*{
margin: 0;
padding:0;
box-sizing: border-box;
}
.menuprincipal .imagen img {
height: auto;
width: 50px;
}
.menuprincipal nav li > a {
text-decoration: none;
color: #ccc;
padding: 0 35px;
font-size: 18px;
font-family: 'Delius', sans-serif;
cursor: pointer;
}
.menuprincipal nav li > a:hover {
color: #fff;
}
.menuprincipal ul {
list-style: none;
text-align: right;
background: #1D1C1C;
height: 15vh;
}
.menuprincipal nav ul li {
display: inline-block;
padding-top: 6vh;
}
.general {
background: #4D787E;
height: 85vh;
padding: 0;
margin: 0;
position: relative;
}
.general .imagen img {
width: 35%;
height: 85vh;
float: right;
clear: both;
}
.general section .sobremi {
width: 45%;
position: absolute;
top: 37%;
left: 25%;
transform: translate(-37%,-25%);
}
.general section .sobremi p {
font-size: 40px;
font-family: 'Architects Daughter', cursive;
color: #ccc;
}
.botonnegro {
text-decoration: none;
width: 50%;
color: #ccc;
font-size: 25px;
display: block;
margin-top: 25px;
padding: 10px;
border: 1px solid #ccc;
text-align: center;
border-radius: 20px;
font-family: 'Architects Daughter', cursive;
background: #1D1C1C;
}
.botonnegro:hover {
color: #fff;
border: 1px solid #fff;
}
.informacion {
/*height: 100vh;*/
margin: 0;
background: white;
}
h2 {
font-family: 'Architects Daughter', cursive;
color: #4D787E;
font-size: 30px;
text-align: center;
padding: 50px 10px;
letter-spacing: 4px;
}
.nombre {
font-family: 'Architects Daughter', cursive;
color: #4D787E;
margin: 20px 10px;
background: white;
box-shadow: 3px 3px 20px #EAEAEA;
padding: 50px 10% 50px 5%  ;
width: 75%;
margin: 0 auto;
border-radius: 15px;
display: flex;
position: relative;
}
.descrip {
width: 25%;
}
.todo {
font-family: 'Architects Daughter', cursive;
font-size: 17px;
text-align: justify;
box-sizing: border-box;
width: 75%;
}
.todo .negrita {
font-weight: bold;
}
.informacion > .segundo {
margin-top: 30px;
}
ul {
list-style: none;
}
.habilidades li  {
width: 5%;
height: 10%;
display: inline-block;
margin: 4% 4% 0 4%;
}
.habilidades {
margin-bottom: 3%;
}
.habilidad {
position: relative;
}
.habilidad > h2 {
padding: 50px 10px 0 10px
}
.habilidades li img {
width: 100%;
height: auto;
}
.todo > div {
margin-bottom: 4px;
}
.proyectos {
text-align: center;
}
.proyectos .contenedor {
margin: 2% 5%;
width: 25%;
position: relative;
display: inline-block;
cursor: pointer;
}
.contenedor .div-img  {
margin-left: auto;
margin-right: auto;
display: block;
overflow: hidden;
}
.contenedor .img {
display: block;
width: 100%;
height: 200px;
margin-right: auto;
margin-left: auto;
transform: translate(0px,0);
transition: all 0.5s ease-in-out;
}
.contenedor .texto {
z-index: -1;
display: block;
position: absolute;
bottom: 5%;
width: 100%;
font-family: 'Architects Daughter', cursive;
color: #4D787E;
font-size: 15px;
}
.div-img:hover .img {
transform: translate(0px,-50%);
}
.form {
width: 40%;
margin: 0 auto 50px auto;
box-shadow: 3px 3px 20px #EAEAEA;
padding: 50px 30px;
box-sizing: border-box;
}
.form fieldset {
border: 0;
width: 100%;
}
.form input, .form textarea {
width: 100%;
margin-bottom: 20px;
padding: 8px;
box-sizing: border-box;
font-size:18px;
font-family: 'Kurale', serif;
}
.form input {
border-bottom: 1px solid rgba(52,239,222,0.3);
border-top:none;
border-left: none;
border-right: none;
outline: 0;
}
.form input[type="submit"]{
border: none;
outline: 0;
}
.form textarea {
min-height: 100px;
max-height: 200px;
max-width: 100%;
border: 1px solid rgba(52,239,222,0.3);
outline: 0;
}
.form input::placeholder, .form textarea::placeholder {
font-size: 15px;
font-family: 'Delius', sans-serif;
opacity: 1;
transition: all 0.3s ease-in-out;
}
.form input:focus::placeholder, .form textarea:focus::placeholder {
font-size: 0px;
opacity: 0;
}
.form .btn-default {
background: rgba(52,239,222,1);
color: #fff;
padding: 10px;
cursor: pointer;
}
.form .btn-default:hover {
background: rgba(52,239,222,0.5);
}
.footer {
color: #4d787ecf;
font-size: 14px;
font-family: 'Delius', sans-serif;
background: rgba(128, 128, 128, 0.09);
box-shadow: 3px 3px 20px #EAEAEA;
padding: 10px;
position: relative;
}
.footer > div:first-child {
padding: 0 20px;
}
.footer div span {
font-size: 20px;
color: #4d787ecf;
padding: 0 30px;
}
.footer div:last-child{
position: absolute;
bottom: 5px;
right: 20px;
}









